*{
    margin: 0%;
    padding: 0%;
}

.contenedor{
    display: flex;
    justify-content: space-around;   
}
form{
    display: flex;
    flex-direction: column;
    width: 60vh;
    height: 80vh;
    background-color: aqua;
    padding:5%;
    border-radius: 10%;
}
input{
    margin:15px;
    padding: 1.5%;
}